@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Vedkal Julii Renesovich<br />
    Kharkiv, Ukraine<br />
    <abbr title="Phone">P:</abbr>
    +38-050-860-8796
</address>

<address>
    <strong>My mail:</strong> <a href="mailto:yulii.vedkal@nure.ua">yulii.vedkal@nure.ua</a>
</address>